{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>TCC - {{ autor.nome }}</title>
{% endblock %}
{% block conteudo %}
    <div class="page-header text-center py-3">
        <h1>{{ autor.nome }}</h1>
        <hr>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <a href="{% url 'detalhar_autor' autor.id %}">
                {% if autor.foto == '' %}
                        <img src="{% static 'img/livro.png' %}" class="card-img-top" alt="...">
                    {% else %}
                        <img src="{{ autor.foto.url }}" class="card-img-top" alt="...">
                    {% endif %}
                </a>
            </div>
            <div class="col-sm-8">
                <p class="h4"><strong>Nome: </strong>{{ autor.nome }}</p>
                {% for autor in autor.autor.all %}
                    <p class="h4">{{ autor.nome }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}